[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
pytest = "*"
importlib-metadata = "*"

[dev-packages]
pytest-xdist = "*"

[requires]
python_version = "3.7"
